<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :song_name %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.text_field :artist_id, id: :song_artist_id %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.text_field :genre_id, id: :song_genre_id %>
  </div>

  <div class="field">
    <%= form.label :date_released %>
    <%= form.text_field :date_released, id: :song_date_released %>
  </div>

  <div class="field">
    <%= form.label :album_id %>
    <%= form.text_field :album_id, id: :song_album_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
